<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
	<form th:action ="@{/employees/save}" th:object="${employee}" method="POST">
		
		<input type="hidden" th:field="${employee.employeeId}"/><!-- This is for Updating employee purpose -->
		<div class="row form-group">	
			<input type="text" th:field="${employee.firstName}" placeholder="First Name"/>
			<span style="color:red" th:if="${#fields.hasErrors('firstName')}"
				  th:errors="${employee.firstName}" >
			</span>
		</div>
		<div class="row form-group">
			<input type="text" th:field="${employee.lastName}" placeholder="Last Name"/>
			<span style="color:red" th:if="${#fields.hasErrors('lastName')}"
				  th:errors="${employee.lastName}" >
			</span>
		</div>
		<div class="row form-group">
			<input type="text" th:field="${employee.email}" placeholder="Email Address"/>
			<span style="color:red" th:if="${#fields.hasErrors('email')}"
				  th:errors="${employee.email}" >
			</span>
		</div>
		<div class="row form-group">
			<button class="btn btn-info" type="submit">Save Employee</button>
		</div>
	</form>
</div>
</body>
</html>